*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .banner a img{
    width: 100vw;
    height: initial;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 1.8rem;
}
nav .logo img{
    width: 2.5rem;
    height: 2.5rem;
}
.navLinks{
    display: flex;
    list-style: none;
}
.navLinks li a{
    text-decoration: none;
    padding: .6rem;
    font-size: 1.3rem;
    color: #000000;
    font-weight: bold;
}
.navLinks li a > img{
    width: 1rem;
    height: 1rem;
}


/*-----Subnav-----*/
.subnav{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 1.8rem;
}
.leftSubnav{
    display: flex;
    list-style: none;
}
.leftSubnav li:not(#search){
    border-right: 1px solid grey;
}
.leftSubnav li a{
    padding: .6rem;
    text-decoration: none;
    color: #383838;
    font-size: .9rem;
}
.leftSubnav li a:hover{
    color: #1e90ff;
}
.subnav .leftSubnav li a > i{
    margin-right: .7rem;
}
.subnav .leftSubnav li a > input{
    border: none;
}

.rightSubnav button{
    margin-left: 1.1rem;
    border: none;
    background: transparent;
    color: #383838;
    cursor: pointer;
}
.rightSubnav button > i{
    font-size: .9rem;
}
.rightSubnav button > i:hover{
    color: #1e90ff;
}


/*-----Middle Banner-----*/
.middlebanner{
    margin-top: 2rem;
}
.levelDaysContainer{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url('../images/conro-level-days-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 3rem 0 1.5rem 0;
}
.middlebanner .levelDays{
    display: flex;
    width: 95%;
    margin: 0 auto;
}
.middlebanner .levelDays .levelDaysImg img{
    width: 330px;
    height: 330px;
}
.levelDays .levelDaysText{
    margin-left: 4rem;
    padding-top: 3rem;
}
.levelDaysText .headerText h1{
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #fdfdfd;
}
.levelDaysText .headerText h3{
    font-size: 1.6rem;
    margin-top: .8rem;
    color: #fdfdfd;
}
.levelDaysText .headerText p{
    font-size: 1.1rem;
    margin-top: .8rem;
    color: lightgrey;
}
.levelDaysText .levelDaysTextImages a > img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-right: .6rem;
    margin-top: 1.2rem;
}

/*-----Track List-----*/
