*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .banner a img{
    width: 100%;
    height: initial;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 1.8rem;
}
nav .logo img{
    width: 11rem;
}
.navLinks{
    display: flex;
    list-style: none;
}
.navLinks li a{
    text-decoration: none;
    padding-left: 1rem;
    font-size: 1.3rem;
    color: #000000;
    font-weight: bold;
}
.navLinks li a > img{
    width: 1rem;
    height: 1rem;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger > div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 3px; 
}


/*-----Subnav-----*/
.subnav{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 1.8rem;
}
.leftSubnav{
    display: flex;
    list-style: none;
}
.leftSubnav li:not(#search){
    border-right: 1px solid grey;
    margin-right: .6rem;
}
.leftSubnav li a{
    padding-right: .6rem;
    text-decoration: none;
    color: #383838;
    font-size: .9rem;
}
.leftSubnav li a:hover{
    color: #1e90ff;
}
.subnav .leftSubnav li a > i{
    margin-right: .7rem;
}
.subnav .leftSubnav li a > input{
    border: none;
}
.rightSubnav button{
    margin-left: 1.1rem;
    border: none;
    background: transparent;
    color: #383838;
    cursor: pointer;
}
.rightSubnav button > i{
    font-size: .9rem;
}
.rightSubnav button > i:hover{
    color: #1e90ff;
}


/*-----Middle Banner-----*/
.middlebanner{
    margin-top: 2rem;
}
.levelDaysContainer{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url('../images/conro-level-days-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 3rem 1.8rem;
}
#layLowBannerContainer{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .8)), url('../images/Conro - Lay Low (feat. David Benjamin) (Art).jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.middlebanner .levelDays{
    display: flex;
}
.middlebanner .levelDays .levelDaysImg img{
    width: 360px;
    height: 360px;
}
.levelDays .levelDaysText{
    margin-left: 4rem;
    padding-top: 3rem;
}
.levelDaysText .headerText h1{
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #fdfdfd;
}
.levelDaysText .headerText h3{
    font-size: 1.6rem;
    margin-top: .8rem;
    color: #fdfdfd;
}
.levelDaysText .headerText p{
    font-size: 1.1rem;
    margin-top: .8rem;
    color: lightgrey;
}
.levelDaysText .levelDaysTextImages a > img{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    margin-right: .6rem;
    margin-top: 1.2rem;
}



/*-----Track List-----*/
.tracklist{
    background-color: #000000;
    padding: 2rem 1.8rem;
    display: flex;
    /* justify-content: center; */
}
.tracklist .playSection{
    /* margin-left: 1.8rem; */
    width: 30%;
}
.tracklist .playSection li{
    display: inline;
}
.tracklist .playSection button{
    padding: 1rem 1.5rem;
    font-size: .8rem;
    letter-spacing: 2px;
    outline: none;
    border: none;
    color: #383838;
    cursor: pointer;
}
.tracklist .playSection button:hover{
    background-color: #383838;
    color:white;
}
.tracklist .playSection button > i{
    margin-left: .5rem;
    font-size: .7rem;
    
}
.tracklist .playSection h3{
    color: #fdfdfd;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    letter-spacing: 1.5px;
}
.tracklistSocials{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(4, 70px);
}
.tracklistSocials li a > i{
    background-color: white;
    padding: 1rem 1.5rem;
    margin: 0;
    color: #383838;
}

.tracklistTable{
    width: 60%;
    margin-left: 4rem;
}
.tracklistTable h5{
    color: white;
    font-size: 1rem;
    letter-spacing: 1.5px;
}
.table{
    background-color: white;
    width: 100%;
    margin-right: 3rem;
    margin-top: 1rem;
    border-collapse: collapse;
}
.table tr:nth-child(even){
    background-color: #f7f4f4;
}
td{
    font-size: 1.1rem;
    color: #383838;
    padding: .7rem .6rem;
}
.title-hidden{
    display: none;
    color: #383838;
}
#inline-title{
    display: none;
}
.number{
    width: 3%;
}
.tracklistTable table tbody .btn{
    width: 3%;
}
.tracklistTable table tbody .btn button{
    border: none;
    cursor: pointer;
}
.tracklistTable table tbody .btn button > i{
    font-size: .7rem;
    padding: .3rem;
    background: #383838;
    color: white;
    border-radius: 60%;
}
.tracklistTable table tbody .btn button > i:hover{
    background-color: #1e90ff;
}
.songTitle{
    width: 50%;
}
.songTitle span{
    font-size: .85rem;
}
.songTitle span a{
    color: #383838;
}
.songLink{
    width: 20%;
}
.songLink a{
    color: #383838;
}
.songVersion{
    width: 15%;
}
.credit{
    width: 1%;
}
.credit a{
    border: 1px solid;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .7rem; 
    color: #383838;
}

/*-----More-----*/
.more{
    margin-top: 2rem;
}
.more .heading h1{
    font-size: 2rem;
    margin-left: 1.8rem;
}
.more .heading h1 a{
    text-decoration: none;
    color: #1e90ff;
}
.moreSongs{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    padding: 2.5rem;
}
.moreSongs div{
    box-shadow: 3px #383838;
}
.moreSongs div a{
    text-decoration: none;
    color: #383838;
}
.moreSongs div a:hover{
    color: #1e90ff;
}
.moreSongs > div > a > img{
    width: 100%;    
}
.moreSongsText{
    margin-top: .7rem;
}
.moreSongsText h4{
    font-size: .8rem;
    font-weight: light;
    letter-spacing: 1.5px;
    text-decoration: none;
}
.moreSongsText span{
    font-size: .83rem;
}


/*-----Footer-----*/
footer{
    padding: 1.8rem;
}
footer .footerSec1{
    display: flex;
    justify-content: space-between;
}
footer .footerSec1 ul, footer .footerSec2 ul{
    display: flex;
    list-style: none;
}
  li a{
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #383838;
}
footer .footerSec1 ul li i{
    margin-left: 1rem;
}
footer .footerSec2{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
footer .footerSec2 ul li a{
    font-size: .9rem;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: lighter;
    color: #383838;
    letter-spacing: 1.5px;
}
footer .footerSec2 ul li a i{
    font-size: unset;
    margin-right: .6rem;
}
footer .footerSec2 .copyright{
    text-align: right;
}
footer .footerSec2 .copyright h5{
    font-size: 1rem;
    color: #383838;
}
footer .footerSec2 .copyright p{
    color: #383838;
    margin-top: .5rem;
}
footer .footerSec3{
    width: 70%;
    text-align: center;
    margin: 3rem auto;
}
footer .footerSec3 p{
    font-size: .8rem;
    color: #8b8888;
}